Node-Red.json
[
    {
        "id":"3fe060cc.bce43",
        "type":"tab",
        "label":"Flow 1"
    },
    {
        "id":"2b0a828c.fac7de",
        "type":"mqtt-broker",
        "z":"",
        "broker":"wago@a1qv4clwm7mxb.iot.us-east-1.amazonaws.com",
        "port":"8883",
        "tls":"8659fd4.32c2c",
        "clientid":"wago",
        "usetls":true,
        "compatmode":true,
        "keepalive":"60",
        "cleansession":true,
        "willTopic":"",
        "willQos":"0",
        "willPayload":"",
        "birthTopic":"",
        "birthQos":"0",
        "birthPayload":""
    },
    {
        "id":"8659fd4.32c2c",
        "type":"tls-config",
        "z":"",
        "name":"",
        "cert":"/home/pi/nodeSDK/wago.cert.pem",
        "key":"/home/pi/nodeSDK/wago.private.key",
        "ca":"/home/pi/nodeSDK/rootCA.pem",
        "verifyservercert":true
    },
    {
        "id":"ae8c5792.b40e08",
        "type":"mqtt in",
        "z":"3fe060cc.bce43",
        "name":"wago MQTT",
        "topic":"/wago",
        "qos":"0",
        "broker":"2b0a828c.fac7de",
        "x":103.50007629394531,
        "y":1018.2000303268433,
        "wires":[
            [
                "b1a0e9fe.c15578",
                "c080fcee.42a1a",
                "e26bd49e.9653c8"
            ]
        ]
    },
    {
        "id":"b1a0e9fe.c15578",
        "type":"switch",
        "z":"3fe060cc.bce43",
        "name":"sensor switch",
        "property":"payload",
        "propertyType":"msg",
        "rules":[
            {
                "t":"cont",
                "v":"GPIO26",
                "vt":"str"
            },
            {
                "t":"cont",
                "v":"lightMode",
                "vt":"str"
            }
        ],
        "checkall":"true",
        "outputs":2,
        "x":300.5000648498535,
        "y":1043.200032234192,
        "wires":[
            [
                "5911cde.ee09834"
            ],
            [

            ]
        ]
    },
    {
        "id":"5911cde.ee09834",
        "type":"function",
        "z":"3fe060cc.bce43",
        "name":"vState",
        "func":"// var s = msg.payload;\n// var temp = s.split(\" \");\n// var voltageState = parseInt(temp[1]);\n// msg.payload = voltageState;\nfor(var i = 0; i < 1000; i++) {\n    msg.payload = (i/10).toString();\n    node.send(msg);\n}\n//return msg;",
        "outputs":1,
        "noerr":0,
        "x":454.5001029968262,
        "y":991.8000354766846,
        "wires":[
            [
                "60d274bf.1e0dcc"
            ]
        ]
    },
    {
        "id":"60d274bf.1e0dcc",
        "type":"debug",
        "z":"3fe060cc.bce43",
        "name":"",
        "active":true,
        "console":"false",
        "complete":"false",
        "x":593.500057220459,
        "y":1062.8000259399414,
        "wires":[

        ]
    },
    {
        "id":"efa84935.b8fd68",
        "type":"http request",
        "z":"3fe060cc.bce43",
        "name":"Test GET request",
        "method":"GET",
        "ret":"txt",
        "url":"https://maker.ifttt.com/trigger/test/with/key/RiiuCTrCGtLmRjeJJ47Sh",
        "tls":"",
        "x":393.50001525878906,
        "y":373.59999084472656,
        "wires":[
            [
                "2c01438c.0be50c"
            ]
        ]
    },
    {
        "id":"d7169e4a.9cd15",
        "type":"inject",
        "z":"3fe060cc.bce43",
        "name":"",
        "topic":"",
        "payload":"99",
        "payloadType":"num",
        "repeat":"",
        "crontab":"",
        "once":false,
        "x":126.50001525878906,
        "y":380.8000030517578,
        "wires":[
            [
                "efa84935.b8fd68"
            ]
        ]
    },
    {
        "id":"2c01438c.0be50c",
        "type":"debug",
        "z":"3fe060cc.bce43",
        "name":"",
        "active":true,
        "console":"false",
        "complete":"false",
        "x":613.4999847412109,
        "y":373.40000915527344,
        "wires":[

        ]
    },
    {
        "id":"b436206.20f41e",
        "type":"rpi-gpio in",
        "z":"3fe060cc.bce43",
        "name":"Button",
        "pin":"32",
        "intype":"tri",
        "debounce":"25",
        "read":true,
        "x":105.5,
        "y":488.80003356933594,
        "wires":[
            [
                "3b49d94.439dd26"
            ]
        ]
    },
    {
        "id":"36eb5979.bb8666",
        "type":"debug",
        "z":"3fe060cc.bce43",
        "name":"",
        "active":true,
        "console":"false",
        "complete":"payload",
        "x":819.1999073028564,
        "y":488.97780084609985,
        "wires":[

        ]
    },
    {
        "id":"9265031a.a9e73",
        "type":"http request",
        "z":"3fe060cc.bce43",
        "name":"Test GET request",
        "method":"GET",
        "ret":"txt",
        "url":"https://maker.ifttt.com/trigger/doorbell/with/key/RiiuCTrCGtLmRjeJJ47Sh",
        "tls":"",
        "x":570.200065612793,
        "y":489.20006561279297,
        "wires":[
            [
                "36eb5979.bb8666"
            ]
        ]
    },
    {
        "id":"c080fcee.42a1a",
        "type":"switch",
        "z":"3fe060cc.bce43",
        "name":"",
        "property":"payload",
        "propertyType":"msg",
        "rules":[
            {
                "t":"cont",
                "v":"color",
                "vt":"str"
            }
        ],
        "checkall":"true",
        "outputs":1,
        "x":269.5000686645508,
        "y":865.8000288009644,
        "wires":[
            [
                "7a3e6e14.9d79b",
                "14f7dc0b.a85454",
                "4170f330.26859c"
            ]
        ]
    },
    {
        "id":"7a3e6e14.9d79b",
        "type":"function",
        "z":"3fe060cc.bce43",
        "name":"greenColor",
        "func":"var s = msg.payload;\nvar temp = s.split(\" \");\nvar voltageState = parseInt(temp[2]);\n// msg.payload = voltageState;\n// for(var i = 0; i < 1000; i++) {\n//     msg.payload = (i/10).toString();\n//     node.send(msg);\n// }\n//return msg;\nmsg.payload = voltageState;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":470.5000534057617,
        "y":861.6000270843506,
        "wires":[
            [
                "d29d35dd.6b98f8"
            ]
        ]
    },
    {
        "id":"14f7dc0b.a85454",
        "type":"function",
        "z":"3fe060cc.bce43",
        "name":"redColor",
        "func":"var s = msg.payload;\nvar temp = s.split(\" \");\nvar voltageState = parseInt(temp[1]);\n// msg.payload = voltageState;\n// for(var i = 0; i < 1000; i++) {\n//     msg.payload = (i/10).toString();\n//     node.send(msg);\n// }\n//return msg;\nmsg.payload = voltageState;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":459.2001037597656,
        "y":821.2000255584717,
        "wires":[
            [
                "5edf55af.b7816c"
            ]
        ]
    },
    {
        "id":"4170f330.26859c",
        "type":"function",
        "z":"3fe060cc.bce43",
        "name":"blueColor",
        "func":"var s = msg.payload;\nvar temp = s.split(\" \");\nvar voltageState = parseInt(temp[3]);\n// msg.payload = voltageState;\n// for(var i = 0; i < 1000; i++) {\n//     msg.payload = (i/10).toString();\n//     node.send(msg);\n// }\n//return msg;\nmsg.payload = voltageState;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":461.2001037597656,
        "y":902.2000255584717,
        "wires":[
            [
                "cf08e5d9.ec29a8"
            ]
        ]
    },
    {
        "id":"5edf55af.b7816c",
        "type":"rpi-gpio out",
        "z":"3fe060cc.bce43",
        "name":"Red LED",
        "pin":"38",
        "set":false,
        "level":"0",
        "out":"pwm",
        "x":683.2001113891602,
        "y":823.6000137329102,
        "wires":[

        ]
    },
    {
        "id":"d29d35dd.6b98f8",
        "type":"rpi-gpio out",
        "z":"3fe060cc.bce43",
        "name":"Green LED",
        "pin":"35",
        "set":false,
        "level":"0",
        "out":"pwm",
        "x":693.2000846862793,
        "y":863.6000213623047,
        "wires":[

        ]
    },
    {
        "id":"cf08e5d9.ec29a8",
        "type":"rpi-gpio out",
        "z":"3fe060cc.bce43",
        "name":"Blue LED",
        "pin":"37",
        "set":false,
        "level":"0",
        "out":"pwm",
        "x":683.2000846862793,
        "y":907.6000213623047,
        "wires":[

        ]
    },
    {
        "id":"9ca594e6.b28528",
        "type":"rpi-gpio in",
        "z":"3fe060cc.bce43",
        "name":"",
        "pin":"40",
        "intype":"in",
        "debounce":"25",
        "read":false,
        "x":87.5,
        "y":667.8000030517578,
        "wires":[
            [
                "9a4d0bc3.5b8c48"
            ]
        ]
    },
    {
        "id":"c2280b54.7fd338",
        "type":"debug",
        "z":"3fe060cc.bce43",
        "name":"photoresistor",
        "active":true,
        "console":"false",
        "complete":"payload",
        "x":705.5000839233398,
        "y":687.4000205993652,
        "wires":[

        ]
    },
    {
        "id":"c435c3a6.24e32",
        "type":"smooth",
        "z":"3fe060cc.bce43",
        "name":"Mean light intensity",
        "action":"mean",
        "count":"30",
        "round":"2",
        "x":282.5000114440918,
        "y":668.80006980896,
        "wires":[
            [
                "6c7917f9.27fde8",
                "e9b05036.893"
            ]
        ]
    },
    {
        "id":"9a4d0bc3.5b8c48",
        "type":"delay",
        "z":"3fe060cc.bce43",
        "name":"",
        "pauseType":"rate",
        "timeout":"10",
        "timeoutUnits":"seconds",
        "rate":"5",
        "nbRateUnits":"1",
        "rateUnits":"second",
        "randomFirst":"1",
        "randomLast":"5",
        "randomUnits":"seconds",
        "drop":true,
        "x":160.50001525878906,
        "y":594.600118637085,
        "wires":[
            [
                "c435c3a6.24e32"
            ]
        ]
    },
    {
        "id":"6c7917f9.27fde8",
        "type":"function",
        "z":"3fe060cc.bce43",
        "name":"Night light Red",
        "func":"var s = 0\nif (msg.payload < 0.5)\n{\n    var val = (0.5 - msg.payload) * 200;\n    s = Math.floor(val);\n}\nmsg.payload = s\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":470.5,
        "y":766.3999919891357,
        "wires":[
            [
                "7987e96b.cb1258"
            ]
        ]
    },
    {
        "id":"c43c0c58.9fd2d",
        "type":"rpi-gpio out",
        "z":"3fe060cc.bce43",
        "name":"Green Sunset LED",
        "pin":"13",
        "set":false,
        "level":"0",
        "out":"pwm",
        "x":728.2000350952148,
        "y":735.2000246047974,
        "wires":[

        ]
    },
    {
        "id":"7987e96b.cb1258",
        "type":"rpi-gpio out",
        "z":"3fe060cc.bce43",
        "name":"Red Sunset LED",
        "pin":"11",
        "set":false,
        "level":"0",
        "out":"pwm",
        "x":722.2000122070312,
        "y":778.2000122070312,
        "wires":[

        ]
    },
    {
        "id":"e9b05036.893",
        "type":"function",
        "z":"3fe060cc.bce43",
        "name":"Night light Green",
        "func":"var s = 0\nif (msg.payload < 0.5)\n{\n    var val = (0.5 - msg.payload) * 150;\n    s = Math.floor(val);\n}\nmsg.payload = s\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":510.1999969482422,
        "y":721.7999935150146,
        "wires":[
            [
                "c43c0c58.9fd2d"
            ]
        ]
    },
    {
        "id":"a8cfc9c5.ea6a98",
        "type":"debug",
        "z":"3fe060cc.bce43",
        "name":"",
        "active":true,
        "console":"false",
        "complete":"payload",
        "x":420.22220611572266,
        "y":561.5555820465088,
        "wires":[

        ]
    },
    {
        "id":"e26bd49e.9653c8",
        "type":"http request",
        "z":"3fe060cc.bce43",
        "name":"Light notif",
        "method":"GET",
        "ret":"txt",
        "url":"https://maker.ifttt.com/trigger/light_on/with/key/RiiuCTrCGtLmRjeJJ47Sh",
        "tls":"",
        "x":272.4444274902344,
        "y":1169.9998779296875,
        "wires":[
            [

            ]
        ]
    },
    {
        "id":"3b49d94.439dd26",
        "type":"delay",
        "z":"3fe060cc.bce43",
        "name":"",
        "pauseType":"rate",
        "timeout":"5",
        "timeoutUnits":"seconds",
        "rate":"3",
        "nbRateUnits":"1",
        "rateUnits":"second",
        "randomFirst":"1",
        "randomLast":"5",
        "randomUnits":"seconds",
        "drop":true,
        "x":276.1111488342285,
        "y":490.4444942474365,
        "wires":[
            [
                "9265031a.a9e73"
            ]
        ]
    }
]